.quote-cont {
    font-family: 'Segoe UI';
    text-align: center;
    padding: 30px;
  }
  
.quote-cont h1 {
    font-family: Verdana;
    font-size: 26px;
    color: cornflowerblue;
    margin-top: 10px;
}

.quote-text {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: hotpink;
    border: 2px solid orange;
    border-radius: 10px;
}



