.quote-cont {
    font-family: 'Segoe UI';
    text-align: center;
    padding: 30px;
  }
  
.quote-cont h1 {
    font-family: Tahoma;
    color: cornflowerblue;
    margin-top: 10px;
}

.quote-text {
    font-size: 30px;
    font-family: sans-serif;
}



